<section id="home" class="section-home">
  <div class="">
    <div class="cover">
      <div class="home-content container">
        <h1 class="main">Joint Intelligence Fusion And Data Analysis system</h1>
        <p class="text">
          JIFDAS stands at the forefront, undertaking the essential tasks of
          gathering, organizing, and analyzing information from diverse sources,
          ensuring its delivery to end users and policymakers. This robust
          process serves as a catalyst, empowering strategic, operational, and
          tactical decision-making—a crucial element in thwarting both current
          and evolving threats.
        </p>
        <div class="btn-cover">
        <app-button>Sign into JIFDAS <img src="/assets/login.svg" alt="gl" width="28px" height="25px" /></app-button>
        <app-button>See a demo <img src="/assets/play-circle.svg" alt="gl" width="28px" height="26px" /></app-button></div>
      </div>
      <div class="home-img">
         <img style="margin-left: auto;" src="/assets/home-img.png" alt="image" width="100%" />
      </div>
    </div>
  </div>
</section>
