<section class="section-trust">
  <div class="main-trust">
    <h2 class="text">Trusted By</h2>
    <div class="logos">
      <img src="/assets/naf-logo.png" width="120" alt="defence" />
      <img src="/assets/dia-logo.png" width="160" alt="defence" />
      <img src="/assets/dsa-logo.png" width="160" alt="defence" />
    </div>
  </div>
</section>
<section id="about" class="section-about">
  <div class="container about-sty">
    <h3 class="text" style="color: white">About JIFDAS</h3>
    <p style="color: white; text-align: center">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam doloribus
      iusto recusandae reiciendis fugiat accusamus officia dicta nihil, Lorem
      ipsum, dolor sit amet consectetur adipisicing elit. Quam doloribus iusto
      recusandae reiciendis fugiat accusamus officia dicta nihil, numquam veniam
      earum delectus cum accusantium explicabo repellendus culpa molestias. Sit,
      dolorum! numquam veniam earum delectus cum accusantium explicabo
      repellendus culpa molestias. Sit, dolorum!
    </p>
    <div class="demo">
      <img src="/assets/demo.png" alt="demo" width="100%" />
    </div>
  </div>
</section>

<section class="section-benefit">
  <div class="container contain">
    <h2 class="benefit-header">Benefits of JIFDAS</h2>
    <div class="cover">
      <div class="benefit-cover" *ngFor="let item of benefit">
        <img [src]="item.icon" alt="icon" width="50px" height="50px" />
        <div>
        <h5 class="header">{{ item.header }}</h5>
        <p>{{ item.text }}</p>
      </div>
      </div>
    </div>
  </div>
</section>
